.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax((50px, auto));
}

a {
  text-decoration: none;
  color: black;
}

span {
  margin-right: 5px;
}

p {
  margin: 0;
}

.pokeList {
  border: 1px solid black;
  margin: 10px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
}